$primary-color: #cf1e74;
$secondary-color: #fceb04ec;


/* COLORS */

  .bg_col_prim {
    background-color: $primary-color;
  }
  .bg_col_sec {
    background-color: $secondary-color;
  }
  .text_col_prim {
    color: $primary-color;
  }
  .text_col_sec {
    color: $secondary-color;
  }



  .productListItem {
    width: 15%;
  }